  .secheading {
    text-align: center;
    padding: 0.1px;
    grid-column: center-start / center-end;
    margin: 19rem auto 6rem auto;

    p {
      margin-top: 3rem;
      font-weight: bold;
    }
  }


  .indexHeading {

  }