/*
COLORS:
*/

$color-white: rgb(255, 255, 255);
$color-offwhite: rgb(255, 254, 250);
$color-black: #001;
$color-primary: #6A66D9;
$color-secondary: #64B7FF;
$color-third: #FBD8A1;
$color-danger: #E56827;
$color-text: #8381AC;

/*
 FONTS:
*/

$default-font-size: 1.7rem;
$font-primary: 'Inder', sans-serif;
$font-display: 'League Gothic',sans-serif;
$font-heading: 'interstate-condensed', sans-serif;
// $font-links: 'roboto-mono', monospace;
$font-links: 'Inder',sans-serif;

