* {
    margin: 0;
    padding: 0;
}

/* ///////////////////////////////////////////FONTS//////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////// */

@font-face {
    font-family: 'Arizona';
    src: url('../fonts/Arizonia-Regular-OTF.otf');
}

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-Regular.ttf');
}

@font-face {
    font-family: 'FjallaOne';
    src: url('../fonts/FjallaOne-Regular.ttf');
}

@font-face {
    font-family: 'Arimo-bold';
    src: url('../fonts/Arimo-Bold.ttf');
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Regular.ttf');
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri.ttf');
}

/* ///////////////////////////////////////////COMMONS//////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////// */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url(../images/backgrounds/kitchen-bg.jpg); */
    /* background-image: url(../images/backgrounds/brown-leather.jpg); */
    background-image: url(../images/backgrounds/sand-leather.jpg);
    /* background-image: url(../images/backgrounds/wood-version-2.jpg); */
    /* background-image: url(../images/backgrounds/restaraunt.jpg); */
    /* background-image: url(../images/backgrounds/restaraunt-bronze.jpg); */
    /* background-image: url(../images/backgrounds/restaraunt-v2.jpg); */
    background-size: 100%;
    background-attachment: fixed;
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arimo-bold';
    color: #030370;
}

li {
    font-family: 'Arimo-bold';
    color: #030370;
}

a {
    color: #46acfe;
    transition: all 500ms linear;
}


a:hover {
    color: #030370;
}


p {
    font-family: 'Calibri';
    color: #8989a3;
}

.container {
    margin-bottom: 70px;
}

.danger {
    background-color: #e74c3c;
}

.warning {
    background-color: #f0ad4e;
}

.default {
    background-color: #bdc3c7;
}

.success {
    background-color: #2ecc71;
}

.info {
    background-color: #3498db;
}

.deep_blue {
    background-color: #0043f0;
}

.column {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.38);
    /* z-index: -1; */
    /* margin-bottom: 100px; */
}

iframe {
    border-width: 0px!important;
    border-style: none;
    border-color: #fff;
    border-image: none;
    width: 500px;
    height: 93px;
    padding: 0;
    margin: 0;
}


.btn-primary {
    border-radius: 8px;
    border: 3px solid #a3c3dc;
    font-size: 100%;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    transition: all 500ms linear;
    background: rgba(48, 186, 255, 1);
    background: -moz-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48, 186, 255, 1)), color-stop(100%, rgba(26, 109, 199, 1)));
    background: -webkit-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: -o-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: -ms-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: linear-gradient(to bottom, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30baff', endColorstr='#1a6dc7', GradientType=0);
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    color: #a3c3dc;
    border: 3px solid #d5e5f1 !important;
    outline: none !important;
    box-shadow: none;
    background: rgba(48, 186, 255, 1);
    background: -moz-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48, 186, 255, 1)), color-stop(100%, rgba(26, 109, 199, 1)));
    background: -webkit-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: -o-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: -ms-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: linear-gradient(to bottom, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30baff', endColorstr='#1a6dc7', GradientType=0);
}

.btn-dark-blue {
    border-radius: 8px;
    border: 3px solid #a3c3dc;
    padding: 5px 20px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    transition: all 500ms linear;
    background: rgba(9, 9, 227, 1);
    background: -moz-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(9, 9, 227, 1)), color-stop(100%, rgba(0, 14, 102, 1)));
    background: -webkit-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    background: -o-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    background: -ms-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    background: linear-gradient(to bottom, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0909e3', endColorstr='#000e66', GradientType=0);
}

.btn-dark-blue:active,
.btn-dark-blue:focus,
.btn-dark-blue:hover {
    color: #a3c3dc;
    border: 3px solid #d5e5f1 !important;
    outline: none !important;
    box-shadow: none;
    background: rgba(9, 9, 227, 1);
    background: -moz-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(9, 9, 227, 1)), color-stop(100%, rgba(0, 14, 102, 1)));
    background: -webkit-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    background: -o-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    background: -ms-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    background: linear-gradient(to bottom, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0909e3', endColorstr='#000e66', GradientType=0);
}

.btn-danger {
    border-radius: 8px;
    border: 4px solid #e7d5cd;
    font-size: 100%;
    color: #fff;
    letter-spacing: 1px;
    transition: all 500ms linear;
    background: rgba(227, 61, 32, 1);
    background: -moz-linear-gradient(top, rgba(227, 61, 32, 1) 0%, rgba(145, 42, 42, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227, 61, 32, 1)), color-stop(100%, rgba(145, 42, 42, 1)));
    background: -webkit-linear-gradient(top, rgba(227, 61, 32, 1) 0%, rgba(145, 42, 42, 1) 100%);
    background: -o-linear-gradient(top, rgba(227, 61, 32, 1) 0%, rgba(145, 42, 42, 1) 100%);
    background: -ms-linear-gradient(top, rgba(227, 61, 32, 1) 0%, rgba(145, 42, 42, 1) 100%);
    background: linear-gradient(to bottom, rgba(227, 61, 32, 1) 0%, rgba(145, 42, 42, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e33d20', endColorstr='#912a2a', GradientType=0);
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover {

    border-radius: 8px;
    border: 4px solid #fff0ea;
    font-size: 100%;
    color: #efa5a5;
    letter-spacing: 1px;
    transition: all 500ms linear;
    background: rgba(227, 61, 32, 1);
    background: -moz-linear-gradient(top, rgba(227, 61, 32, 1) 0%, rgba(145, 42, 42, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227, 61, 32, 1)), color-stop(100%, rgba(145, 42, 42, 1)));
    background: -webkit-linear-gradient(top, rgba(227, 61, 32, 1) 0%, rgba(145, 42, 42, 1) 100%);
    background: -o-linear-gradient(top, rgba(227, 61, 32, 1) 0%, rgba(145, 42, 42, 1) 100%);
    background: -ms-linear-gradient(top, rgba(227, 61, 32, 1) 0%, rgba(145, 42, 42, 1) 100%);
    background: linear-gradient(to bottom, rgba(227, 61, 32, 1) 0%, rgba(145, 42, 42, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e33d20', endColorstr='#912a2a', GradientType=0);

}

.row {
    margin-right: 0px;
    margin-left: 0px;
    /* margin-bottom: 20px; */
}


/* ///////////////////////////////////////////NAVIGATAION/////////////////////////////////////////////////*/

.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 68px;
    background: rgba(9, 9, 227, 1);
    background: -moz-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(9, 9, 227, 1)), color-stop(100%, rgba(0, 14, 102, 1)));
    background: -webkit-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    background: -o-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    background: -ms-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    background: linear-gradient(to bottom, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0909e3', endColorstr='#000e66', GradientType=0);
    border-bottom: 1px solid #ffffff;
    margin: 0 0 10px 0;
    /* display: inline-flex; */
    position: fixed;
    z-index: 1000;
    display: flex;
}

.logo {
    background: rgba(48, 186, 255, 1);
    background: -moz-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48, 186, 255, 1)), color-stop(100%, rgba(26, 109, 199, 1)));
    background: -webkit-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: -o-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: -ms-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: linear-gradient(to bottom, rgb(154, 221, 255) 0%, rgb(7, 107, 216) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30baff', endColorstr='#1a6dc7', GradientType=0);
    height: 100%;
    width: 4%;
    padding-left: 5px;
    border-right: 1px solid white;
}

.logo a {
    position: relative;
    top: 9px;
    text-shadow: #7a7f83 0.5px 0.5px 0px;
}

a:hover {
    text-decoration: none;
}

nav {
    float: right;
    margin: 0 0 0 22%;
    display: flex;
}

nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding-top: 14px;
    padding-right: 35px;
}

nav img {
    width: 90%;
}

.notification_badge {
    padding: 3px 7px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #2996ff;
    border-radius: 10px;
    /* border: 1px solid #fff; */
    position: absolute;
    left: 17px;
    top: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.78);
}

/* /////////////////////////SEARCH BAR//////////////////// */

.search {
    margin: 0 0 0 19%;
}

.search #search_text_input {
    border: 0px solid rgba(255, 255, 255, 0.00);
    float: left;
    height: 67px;
    padding: 2px 0 0 14px;
    outline: 0;
    font-family: 'Calibri';
    color: #8989a3;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 18px;
    width: 270px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
    box-shadow: inset 0px 0px 11px 2px rgba(42, 44, 45, 0.37);
}

.button_holder {
    background-color: rgba(255, 255, 255, .40);
    border-left: 1px solid #fff;
    cursor: pointer;
    float: left;
    height: 67px;
    text-align: center;
    width: 68px;
}

.button_holder img {
    margin-top: 21px;
    width: 30px;
}

.search_results {
    background-color: white;
    margin-top: 68px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.68);
}

.search_results_footer {
    padding: 13px 4px 0px 4px;
    height: 45px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #DADADA;
    border-top: none;
    background: linear-gradient(to bottom, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    text-align: center;
}

.search_results_footer a {
    color: #fff;
    font-size: 13px;
}

.resultDisplay {
    padding: 25px 5px 0 26px;
    height: 108px;
    border-bottom: 1px solid #ededf4;
}

.resultDisplay a {
    float: none;
}

.resultDisplay:hover {
    background-color: #EBEBEB;
    text-decoration: none;
}

.resultDisplayNotification {
    height: auto;
    color: #1485BD;
    padding-bottom: 7px;
}

.resultDisplayNotification img {
    height: 40px;
    border-radius: 5px;
    margin: 1px 12px 0px 2px;
    float: left;
}

.timestamp_smaller {
    font-size: 85%;
    margin: 0;
}

.liveSearchProfilePic img {
    height: 50px;
    border-radius: 25px;
    margin: 1px 12px 0 2px;
    float: left;
}

.liveSearchText {
    background-color: transparent;
    color: #030370;
    font-weight: bold;
    font-size: 16px;
}

.liveSearchText p {
    margin-left: 10px;
    font-size: 13px;
    /* color: #030370; */
}

.first-last-name {}

.mutual-friends {
    color: #38a9ff;
}

.dropdown_data_window {
    background-color: #fff;
    border-top: none;
    width: 300px;
    position: absolute;
    right: 300px;
    top: 68px;
    overflow-y: scroll;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.68);
}

@media(max-width:1600px) {

    .search {
        margin: 0 0 0 12%;
    }

    nav {
        float: right;
        margin: 0 0 0 23%;
        display: flex;
    }

    nav a {
        position: relative;
        color: #fff;
        text-decoration: none;
        font-size: 17px;
        padding-top: 14px;
        padding-right: 4%;
    }

    nav img {
        width: 80%;
    }

}

@media(max-width:1366px) {
    
    .logo{
        width: 5%;
    }

    .logo img{
        width: 95%;
        margin: 0 auto;
        display: block;
    }

    .search {
        margin: 0 0 0 10%;
    }

    .button_holder img {
        margin-top: 21px;
        width: 40%;
    }

    nav {
        float: right;
        margin: 0 0 0 25%;
        display: flex;
    }

    nav a {
        position: relative;
        color: #fff;
        text-decoration: none;
        font-size: 17px;
        padding-top: 14px;
        padding-right: 3%;
    }

    nav img {
        width: 80%;
    }

}

/* ///////////////////////////////////////////PROFILE-HEADING/////////////////////////////////////////////////*/

.profile-link {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(210, 212, 217, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(210, 212, 217, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(210, 212, 217, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(210, 212, 217, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(210, 212, 217, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(210, 212, 217, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d2d4d9', GradientType=0);
    margin-right: 42px;
    height: 100%;
    /* width: 23px; */
    padding: 24px 25px 23px 25px;
    font-weight: bold;
    border-left: 6px solid #38a9ff;
    display: block;
    color: #38a9ff;
}

.user_details {
    width: 100%;
    height: 424px;
    margin-top: 108px;
    margin-bottom: 20px;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: url(../images/backgrounds/profile-bg.png);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.38);
}

.profile-pic {
    border-radius: 150px;
    border: 6px solid #fff;
    height: 54%;
    display: block;
    position: absolute;
    top: 113px;
    left: 40%;
    z-index: 200;
}

.user_details .bottomnav {
    background-color: rgba(255, 255, 255, 0.75);
    height: 99px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.user_details .bottomnav ul {
    display: flex;
    justify-content: space-around;
    padding-top: 37px;
}

.user_details .bottomnav ul li {
    list-style: none;
}

.bottom-nav-links {
    font-size: 19px;
    font-weight: bold;
    color: #5f627b;
}

.loggedin-user {
    color: #030370;
    font-size: 31px;
    position: relative;
    font-weight: bold;
    top: -13px;
}

/* ////////////////////////////////////////////////POST FORM///////////////////////////////////////////////////// */

.post_form {
    width: 100%;
    background-color: rgba(255, 255, 255, 1.00);
    padding: 30px;
    margin-bottom: 33px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.38);
}

.post_form textarea {
    width: 94%;
    height: 60px;
    border-radius: 3px;
    margin: 10px auto;
    /* margin-right: 5px; */
    border: 1px solid #f5f5f5;
    font-size: 14px;
    padding: 13px;
    color: rgb(28, 28, 136);
    -webkit-box-shadow: inset 0px 0px 16px -3px rgba(176, 174, 176, 1);
    -moz-box-shadow: inset 0px 0px 16px -3px rgba(176, 174, 176, 1);
    box-shadow: inset 0px 0px 9px -3px rgb(131, 141, 162);
}

textarea:focus {
    outline: 0;
}

.post_form input[type="submit"] {
    width: 11%;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    font-family: 'Calibri', sans-serif;
    color: #ffffff;
    text-shadow: #73B6E2 0.5px 0.5px 0px;
    font-size: 20px;
    outline: 0;
    margin: 0;
    display: block;
    letter-spacing: 1px;
    border: 3px solid #a3c3dc;
    background: rgba(48, 186, 255, 1);
    background: -moz-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48, 186, 255, 1)), color-stop(100%, rgba(26, 109, 199, 1)));
    background: -webkit-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: -o-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: -ms-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    background: linear-gradient(to bottom, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30baff', endColorstr='#1a6dc7', GradientType=0);
}

/* /////////////SINGLE POST//////////////// */

input#post_heading {
    box-shadow: -webkit-box-shadow: inset 0px 0px 16px -3px rgba(176, 174, 176, 1);
    -moz-box-shadow: inset 0px 0px 16px -3px rgba(176, 174, 176, 1);
    box-shadow: inset 0px 0px 9px -3px rgba(176, 174, 176, 1);
    height: 34px;
    padding-left: 11px;
    width: 70%;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
    margin-top: 15px;
    color: rgb(28, 28, 136);
}

input#fileToUpload {
    color: #112589;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}

.postedImage {
    height: 380px;
    overflow-y: hidden;
}

.postedImage img {
    width: 100%;
    display: block;
}

.status_post {
    width: 100%;
    font-size: 15px;
    margin-bottom: 80px;
    padding-bottom: 2%;
    position: relative;
    height: auto;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.38);
}

.status_post p {
    font-family: 'Calibri';
    color: #8989a3;
    width: 70%;
    margin: 50px auto;
    line-height: 1.4;
    font-size: 18px;
}

.status_post h2 {
    position: absolute;
    width: auto;
    padding: 20px 5% 20px 5%;
    top: 46px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.70);
}

.post_profile_pic {
    /* float: left; */
    margin-left: 114px;
    margin-top: 36px;
}

.post_profile_pic img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.noMorePosts {
    padding: 20px 10px;
    text-align: center;
    font-size: 18px;
}


.btn-readmore {
    padding: 5px 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: block;
    width: 18%;
}


/* /////////////COMMENTS SECTION//////////////// */

#comment_iframe {
    min-height: 315px;
    padding: 40px 20px;
    width: 100%;
    margin-top: -70px;
    background: none;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.38);
}

.comment_section {
    padding: 0 5px 5px 5px;
}

.comment_section img {
    margin: 0 3px 3px 3px;
    border-radius: 3px;
}

#comment_form textarea {
    border-color: #D3D3D3;
    width: 85%;
    height: 35px;
    border-radius: 5px;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
    border: none;
    background-color: #20AAE5;
    color: #156588;
    border-radius: 5px;
    width: 13%;
    height: 35px;
    margin-top: 3px;
    position: absolute;
    font-family: 'Bellota-BoldItalic', sans-serif;
    text-shadow: #73B6E2 0.5px 0.5px 0px;
}

.comment_section {
    padding: 0 5px 5px 5px;
}

.comment_section img {
    margin: 0 3px 3px 3px;
    border-radius: 3px;
}

#comment_form textarea {
    border-color: #D3D3D3;
    width: 85%;
    height: 35px;
    border-radius: 5px;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
    border: none;
    background-color: #20AAE5;
    color: #156588;
    border-radius: 5px;
    width: 13%;
    height: 35px;
    margin-top: 3px;
    position: absolute;
    font-family: 'Bellota-BoldItalic', sans-serif;
    text-shadow: #73B6E2 0.5px 0.5px 0px;
}

.comment_like {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #3498db;
    padding: 0;
    height: auto;
    width: auto;
    margin: 0;
}

.like_value {
    display: inline;
    font-size: 14px;
}

.danger {
    background-color: #e74c3c;
    padding: 5px 13px;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    border-style: none;
    border: 1px solid #fff;
    box-shadow: -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.21);
    margin: 20px 0;
}

.warning {
    background-color: #f0ad4e;
}

.default {
    background-color: #bdc3c7;
}

.success {
    background-color: #2ecc71;
}

.info {
    background-color: #3498db;
}

.deep_blue {
    background-color: #0043f0;
    padding: 5px 13px;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    border-style: none;
    border: 1px solid #fff;
    box-shadow: -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.21);
    margin-bottom: 20px;
}

/* ///////////////////////////////////////////INDEX//////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////// */

.user_details_left_right {
    padding: 40px 44px;
    min-height: 300px;
}

.index_column {
    float: right;
    width: 70%;
    z-index: -1;
    min-height: 170px;
    margin-bottom: 100px;
}

.index_column .container {
    width: 100%;
}

.user_link {
    margin-left: 20px;
}

.user_details_left_right .data-label li {
    list-style: none;
    font-family: 'Arimo-bold';
    color: #030370;
    font-size: 14px;
    margin-bottom: 10px;
}

.user_details_left_right .data-info li {
    list-style: none;
    color: #38a9ff;
    font-family: 'Calibri';
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

.user_details_info ul {
    margin: 0px -18px 0 48px;
}

.user_details_info ul li {
    list-style: none;
    padding-top: 10px;
}

.intro {
    display: flex;
    list-style: none;
}

.intro h3 {}

.intro li {
    padding: 0 0 0 17px;
}

.intro-icon {
    height: 82%;
}

.trends {}

.trends h4 {
    margin-bottom: 27px;
}

.trends li {
    list-style: none;
    color: #38a9ff;
    font-family: 'Calibri';
    font-weight: bold;
    font-size: 15px;
    margin-left: 6px;
    margin-bottom: 15px;
}

.friends {}

.friends li {
    list-style: none;
    margin-bottom: 20px;
}

.friends h4 {
    margin-bottom: 20px;
}

img.profilePicSmall {
    height: 88px;
    width: auto;
    /* border-radius: 25px; */
    /* margin: 5px; */
}

.newsfeedPostOptions {
    padding: 0px;
    text-decoration: none;
    color: #20AAE5;
    border: none;
}

.newsfeedPostOptions iframe {
    border: 0px;
    height: 17px;
    width: 120px;
}

.newsfeedPostOptions {
    padding: 0px;
    text-decoration: none;
    color: #20AAE5;
    font-weight: bold;
    margin-top: -58px;
    margin-right: 3%;
    border: none;
}

.newsfeedPostOptions iframe {
    border: 0px;
    height: 17px;
    width: 120px;
}

/* ///////////////////////////////////////////////PROFILE-PAGE/////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.index_column .nav-tabs {
    border-bottom: 1px solid #ddd;
    /* background-color: #fff; */
}

.index_column .nav {
    list-style: none;
    background: linear-gradient(to bottom, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
    height: 62px;
}

.index_column .nav-tabs > li > a {
    margin-right: 0;
    line-height: 39px;
    /* border: 1px solid transparent; */
    border-radius: 0;
}

.index_column .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 35px;
    height: 100%;
    border-right: 1px solid rgba(56, 169, 255, 0.2);
    font-size: 14px;
    background: background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(237, 240, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(237, 240, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(237, 240, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(237, 240, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(237, 240, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(237, 240, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edf0ff', GradientType=0);
}

.index_column .nav-tabs > li.active > a,
.index_column .nav-tabs > li.active > a:focus,
.index_column .nav-tabs > li.active > a:hover {
    color: #ffffff;
    cursor: default;
    background: linear-gradient(to bottom, rgb(154, 221, 255) 0%, rgb(7, 107, 216) 100%);
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.sidebar_pic {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.btn-add-friend {

    padding: 5px 20px;

    margin: 17px 0;

    font-size: 14px;
}

.btn-remove {
    padding: 5px 20px;
    font-size: 14px;
    margin-bottom: 10px;
}


.btn-remove:hover,
.btn-remove:active,
.btn-remove:focus {
    padding: 5px 20px;
    font-size: 14px;
    margin-bottom: 10px;
}

.profile_info_bottom {
    font-family: 'Arimo-bold';
    color: #030370;
    font-size: 15px;
}

#about_div h3,
#friends_div h3 {
    text-align: center;
    margin-bottom: 50px;
}

#about_div {
    background-color: #fff;
    min-height: 500px;
    padding: 30px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.38);
}

#about_div li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.right-column-data li {
    color: #46acfe;
}

#messages_div {
    background-color: #fff;
    min-height: 600px;
    padding: 30px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.38);
}

#friends_div {
    background-color: #fff;
    min-height: 200px;
    height: auto;
    display: block;
    padding: 30px;
    padding-bottom: 9%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.38);
    overflow: auto;
}

#friends_div li {
    list-style: none;
    margin-bottom: 20px;
}

#friends_div li a {
    font-size: 14px;
}

#friends_div li a:hover {
    text-decoration: none;
}

#friends_div img.profilePicSmall {
    height: 88px;
    width: auto;
    margin-left: 53px;
    margin-right: 35px;
}



/* ///////////////////////////////////////////////SINGLE POST/////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.comment-box {
    width: 94%;
    height: 60px;
    border-radius: 3px;
    margin: 10px auto;
    /* margin-right: 5px; */
    border: 1px solid #f5f5f5;
    font-size: 14px;
    padding: 13px;
    color: rgb(28, 28, 136);
    -webkit-box-shadow: inset 0px 0px 16px -3px rgba(176, 174, 176, 1);
    -moz-box-shadow: inset 0px 0px 16px -3px rgba(176, 174, 176, 1);
    box-shadow: inset 0px 0px 9px -3px rgb(131, 141, 162);
}



/* ///////////////////////////////////////////////SETTINGS.PHP////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.settings {
    margin-bottom: 100px;
}

.settings .index_column {
    background-color: white;
    padding: 40px 44px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.38);
}

.settings h2 {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.settings h3 {
    margin: 30px auto;
}

.settings h4 {
    margin: 5px auto;
}

.settings .user_details_left_right h4 {
    margin: 25px auto;
}

.btn-settings_close {
    padding: 8px 15px;
    font-size: 13px;
    font-weight: bold;
}

.btn-settings_close:hover,
.btn-settings_close:focus,
.btn-settings_close:active {
    padding: 8px 15px;
    font-size: 13px;
    font-weight: bold;
    outline: 0;
}

input#settings_input {
    margin-bottom: 13px;
    box-shadow: inset 0px 0px 9px -3px rgba(176, 174, 176, 1);
    height: 34px;
    padding-left: 11px;
    width: 90%;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
    margin-top: 7px;
    color: rgb(28, 28, 136);
}

.btn-save_details {
    padding: 8px 16px;
    font-size: 12px;
    margin: 10px auto;
}




/* ///////////////////////////////////////////////MESSAGE.PHP/////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.conversations {
    display: inline-table;
    padding: 21px;
    min-height: 500px;
}

.messages_column {
    min-height: 170px;
    margin-bottom: 100px;
}

.messages_column a {
    color: #46acfe;
}

.message_post h5 {
    color: #46acfe;
}

input#seach_text_input {
    border-radius: 3px;
    margin: 10px auto;
    border: 1px solid #f5f5f5;
    font-size: 11px;
    padding: 6px;
    color: rgb(28, 28, 136);
    -webkit-box-shadow: inset 0px 0px 16px -3px rgba(176, 174, 176, 1);
    -moz-box-shadow: inset 0px 0px 16px -3px rgba(176, 174, 176, 1);
    box-shadow: inset 0px 0px 9px -3px rgb(131, 141, 162);
}

#accept_button {
    width: 20%;
    height: 28px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #2ecc71;
}

#ignore_button {
    width: 20%;
    height: 28px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #e74c3c;
}

.delete_button {
    height: 25px;
    width: 25px;
    padding: 0;
    /* position:  absolute; */
    float: right;
    border-radius: 4px;
    top: 24px;
    right: 24px;
    position: relative;
}

.profile_main_column {
    min-width: 675px;
    float: left;
    width: 70%;
    margin-left: 8%;
    z-index: -1;
}

.profile_info_bottom {
    margin: 10px 0 0 7px;
}

#message_textarea {
    width: 72%;
    padding: 14px;
    height: 100px;
    margin-left: 93px;
    border-radius: 5px;
    border: 1px solid #e2e5ec;
    font-size: 12px;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
    box-shadow: inset 0px 0px 3px 2px rgba(42, 44, 45, 0.07);
}

.btn-message-submit {
    padding: 7px 21px;
    font-size: 14px;
    float: right;
    margin-right: 3px;
}

.message {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

.message#blue {
    /* background-color: #3498db; */
    background: background: rgba(29, 126, 214, 1);
    background: -moz-linear-gradient(top, rgba(29, 126, 214, 1) 0%, rgba(3, 22, 71, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(29, 126, 214, 1)), color-stop(100%, rgba(3, 22, 71, 1)));
    background: -webkit-linear-gradient(top, rgba(29, 126, 214, 1) 0%, rgba(3, 22, 71, 1) 100%);
    background: -o-linear-gradient(top, rgba(29, 126, 214, 1) 0%, rgba(3, 22, 71, 1) 100%);
    background: -ms-linear-gradient(top, rgba(29, 126, 214, 1) 0%, rgba(3, 22, 71, 1) 100%);
    background: linear-gradient(to bottom, rgba(29, 126, 214, 1) 0%, rgba(3, 22, 71, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d7ed6', endColorstr='#031647', GradientType=0);
    border-color: #2980b9;
    /* float: right; */
    position: absolute;
    right: 10px;
    /* margin-bottom: 9px; */
}

.message#green {
    float: left;
    background: background: rgba(183, 225, 255, 1);
    background: -moz-linear-gradient(top, rgba(183, 225, 255, 1) 0%, rgba(90, 172, 249, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183, 225, 255, 1)), color-stop(100%, rgba(90, 172, 249, 1)));
    background: -webkit-linear-gradient(top, rgba(183, 225, 255, 1) 0%, rgba(90, 172, 249, 1) 100%);
    background: -o-linear-gradient(top, rgba(183, 225, 255, 1) 0%, rgba(90, 172, 249, 1) 100%);
    background: -ms-linear-gradient(top, rgba(183, 225, 255, 1) 0%, rgba(90, 172, 249, 1) 100%);
    background: linear-gradient(to bottom, rgba(183, 225, 255, 1) 0%, rgba(90, 172, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7e1ff', endColorstr='#5aacf9', GradientType=0);
    position: absolute;
    left: 10px;
}

.loaded_messages {
    height: 65%;
    min-height: 300px;
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 10px;
    position: relative;
}

.loaded_conversations {
    max-height: 416px;
    overflow-y: scroll;
}

/* ///////////////////////////////////////////////FRIENDS.PHP/////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.friends {}

.friends .row {
    margin-bottom: 22px;
}


.friends a {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    font-weight: bold;
}


.friends .frndprofpic {
    width: 42%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

.friends .friendsrow {
    margin-bottom: 20px;
}

.friends h3 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 29px;
}

.friends h4 {}

/* ///////////////////////////////////////////////SEARCH.PHP/////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.btn-request-sent {
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}


.user_found_messages {
    padding: 25px 1px;
    border-bottom: 1px solid #ededf4;
}

.user_found_messages:hover {
    background-color: #rgb(145, 161, 218);
}

.user_found_messages img {
    height: 50px;
    margin-right: 15px;
    border-radius: 31px;
    float: left;
}

.convo-name {
    font-family: 'Arimo-bold';
    color: #030370;
}

.timestamp_smaller {
    color: #38a9ff;
    font-family: 'Calibri';
    font-style: italic;
}

.btn-new-message {
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.tab-content {
    margin-top: 25px;
}

.likes {}
