* {
  margin: 0;
  padding: 0;
}

/* ///////////////////////////////////////////FONTS//////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////// */

@font-face {
  font-family: 'Arizona';
  src: url('../fonts/Arizonia-Regular-OTF.otf');
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Regular.ttf');
}

@font-face {
  font-family: 'FjallaOne';
  src: url('../fonts/FjallaOne-Regular.ttf');
}

@font-face {
  font-family: 'Arimo-bold';
  src: url('../fonts/Arimo-Bold.ttf');
}

@font-face {
  font-family: 'Arimo';
  src: url('../fonts/Arimo-Regular.ttf');
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/calibri.ttf');
}

/* ///////////////////////////////////////////COMMONS//////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////// */

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/backgrounds/wooden-bg.jpg);
  background-size: contain;
  background-attachment: fixed;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arimo-bold';
  color: #030370;
}

li{
  font-family: 'Arimo-bold';
  color: #030370;
}

p {
  font-family: 'Calibri';
  color: #8989a3;
}

.btn {
  padding: 14px 20px;
  border-radius: 8px;
  border: 3px solid #a3c3dc;
  font-size: 100%;
  letter-spacing: 1px;
  background: rgba(48, 186, 255, 1);
  background: -moz-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48, 186, 255, 1)), color-stop(100%, rgba(26, 109, 199, 1)));
  background: -webkit-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
  background: -o-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
  background: -ms-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
  background: linear-gradient(to bottom, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30baff', endColorstr='#1a6dc7', GradientType=0);
}

/* ///////////////////////////////////////////NAVIGATAION/////////////////////////////////////////////////*/

.top_bar {
  width: 100%;
  min-width: 1050px;
  height: 68px;
  background: rgba(9, 9, 227, 1);
  background: -moz-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(9, 9, 227, 1)), color-stop(100%, rgba(0, 14, 102, 1)));
  background: -webkit-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
  background: -o-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
  background: -ms-linear-gradient(top, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
  background: linear-gradient(to bottom, rgba(9, 9, 227, 1) 0%, rgba(0, 14, 102, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0909e3', endColorstr='#000e66', GradientType=0);
  border-bottom: 1px solid #ffffff;
  margin: 0 0 10px 0;
  /* display: inline-flex; */
  position: fixed;
  z-index: 1000;
  display: flex;
}

.logo {
  background: rgba(48, 186, 255, 1);
  background: -moz-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48, 186, 255, 1)), color-stop(100%, rgba(26, 109, 199, 1)));
  background: -webkit-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
  background: -o-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
  background: -ms-linear-gradient(top, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
  background: linear-gradient(to bottom, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30baff', endColorstr='#1a6dc7', GradientType=0);
  height: 100%;
  width: 4%;
  padding-left: 5px;
  border-right: 1px solid white;
}

.logo a {
  position: relative;
  top: 9px;
  text-shadow: #7a7f83 0.5px 0.5px 0px;
}

a:hover {
  text-decoration: none;
}

nav {
  float: right;
  margin: 0 0 0 22%;
  display: flex;
}

nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  padding-top: 14px;
  padding-right: 35px;
}

.notification_badge {
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #F00;
  border-radius: 10px;
  position: absolute;
  left: 8px;
  top: -5px;
}

/* /////////////////////////SEARCH BAR//////////////////// */

.search {
  margin: 0 0 0 19%;
}

.search #search_text_input {
  border: 0px solid rgba(255, 255, 255, 0.00);
  float: left;
  height: 67px;
  padding: 2px 0 0 14px;
  outline: 0;
  font-family: 'Calibri';
  color: #8989a3;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
  width: 270px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
  box-shadow: inset 0px 0px 11px 2px rgba(42, 44, 45, 0.37);
}

.button_holder {
  background-color: rgba(255, 255, 255, .40);
  border-left: 1px solid #fff;
  cursor: pointer;
  float: left;
  height: 67px;
  text-align: center;
  width: 68px;
}

.button_holder img {
  margin-top: 21px;
  width: 30px;
}

.search_results {
  background-color: white;
  margin-top: 68px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.68);
}

.search_results_footer {
  padding: 13px 4px 0px 4px;
  height: 45px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid #DADADA;
  border-top: none;
  background: linear-gradient(to bottom, rgba(48, 186, 255, 1) 0%, rgba(26, 109, 199, 1) 100%);
  text-align: center;
}

.search_results_footer a {
  color: #fff;
}

.resultDisplay {
  padding: 25px 5px 0 26px;
  height: 108px;
  border-bottom: 1px solid #ededf4;
}

.resultDisplay a {
  float: none;
}

.resultDisplay:hover {
  background-color: #EBEBEB;
  text-decoration: none;
}

.resultDisplayNotification {
  height: auto;
  color: #1485BD;
  padding-bottom: 7px;
}

.resultDisplayNotification img {
  height: 40px;
  border-radius: 5px;
  margin: 1px 12px 0px 2px;
  float: left;
}

.timestamp_smaller {
  font-size: 85%;
  margin: 0;
}

.liveSearchProfilePic img {
  height: 50px;
  border-radius: 25px;
  margin: 1px 12px 0 2px;
  float: left;
}

.liveSearchText {
  background-color: transparent;
  color: #030370;
  font-weight: bold;
  font-size: 16px;
}

.liveSearchText p {
  margin-left: 10px;
  font-size: 13px;
  /* color: #030370; */
}

.first-last-name {}

.mutual-friends {
  color: #38a9ff;
}

.dropdown_data_window {
  background-color: #fff;
  border-top: none;
  width: 300px;
  position: absolute;
  right: 300px;
  top: 68px;
  overflow-y: scroll;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.68);
}

/* ///////////////////////////////////////////PROFILE HEADER/////////////////////////////////////////////////*/

.profile-link {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(210, 212, 217, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(210, 212, 217, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(210, 212, 217, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(210, 212, 217, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(210, 212, 217, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(210, 212, 217, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d2d4d9', GradientType=0);
  margin-right: 42px;
  height: 100%;
  /* width: 23px; */
  padding: 24px 25px 23px 25px;
  font-weight: bold;
  border-left: 6px solid #38a9ff;
  display: block;
  color: #38a9ff;
}

.user_details {
  width: 100%;
  height: 424px;
  margin-bottom: 20px;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: url(../images/backgrounds/profile-bg.png);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.38);
}

.profile-pic {
  border-radius: 150px;
  border: 6px solid #fff;
  height: 54%;
  display: block;
  position: absolute;
  top: 113px;
  left: 40%;
  z-index: 200;
}

.user_details .bottomnav {
  background-color: rgba(255, 255, 255, 0.75);
  height: 99px;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.user_details .bottomnav ul {
  display: flex;
  justify-content: space-around;
  padding-top: 37px;
}

.user_details .bottomnav ul li {
  list-style: none;
}

.bottom-nav-links {
  font-size: 19px;
  font-weight: bold;
  color: #5f627b;
}

.loggedin-user {
  color: #030370;
  font-size: 31px;
  position: relative;
  font-weight: bold;
  top: -13px;
}

/* ////////////////////////////////////////////////POST FORM///////////////////////////////////////////////////// */

.post_form {
  width: 100%;
}

.post_form textarea {
  width: 81%;
  height: 60px;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #D3D3D3;
  font-size: 12px;
  padding: 5px;
}

textarea:focus {
  outline: 0;
}

.post_form input[type="submit"] {
  width: 11%;
  height: 60px;
  border: none;
  border-radius: 3px;
  background-color: #3498db;
  font-family: 'Bellota-BoldItalic', sans-serif;
  color: #1E75CA;
  text-shadow: #73B6E2 0.5px 0.5px 0px;
  font-size: 90%;
  position: absolute;
  outline: 0;
  margin: 0;
}

.post_form input[type="submit"]:active {
  padding: 5px 4px 4px 5px;
}

.postedImage img {
  max-height: 300px;
  max-width: 100%;
  display: block;
  margin: 5px auto;
}

.status_post {
  width: 96%;
  font-size: 15px;
  padding: 5px 5px;
  min-height: 75px;
}


#post_body {
  margin-top: 15px;
}

.post_profile_pic {
  float: left;
  margin-right: 17px;
}

.post_profile_pic img {
  border-radius: 5px;
}

#comment_iframe {
  max-height: 250px;
  width: 100%;
  margin-top: 5px;
}

.comment_section {
  padding: 0 5px 5px 5px;
}

.comment_section img {
  margin: 0 3px 3px 3px;
  border-radius: 3px;
}

#comment_form textarea {
  border-color: #D3D3D3;
  width: 85%;
  height: 35px;
  border-radius: 5px;
  color: #616060;
  font-size: 14px;
  margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
  border: none;
  background-color: #20AAE5;
  color: #156588;
  border-radius: 5px;
  width: 13%;
  height: 35px;
  margin-top: 3px;
  position: absolute;
  font-family: 'Bellota-BoldItalic', sans-serif;
  text-shadow: #73B6E2 0.5px 0.5px 0px;
}

.danger {
  background-color: #e74c3c;
}

.warning {
  background-color: #f0ad4e;
}

.default {
  background-color: #bdc3c7;
}

.success {
  background-color: #2ecc71;
}

.info {
  background-color: #3498db;
}

.deep_blue {
  background-color: #0043f0;
}

.profile_left input[type="submit"] {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin: 7px 0 0 7px;
  border: none;
  color: #fff;
}

.comment_section {
  padding: 0 5px 5px 5px;
}

.comment_section img {
  margin: 0 3px 3px 3px;
  border-radius: 3px;
}

.comment_like {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #3498db;
  padding: 0;
  height: auto;
  width: auto;
  margin: 0;
}

.like_value {
  display: inline;
  font-size: 14px;
}

#comment_form textarea {
  border-color: #D3D3D3;
  width: 85%;
  height: 35px;
  border-radius: 5px;
  color: #616060;
  font-size: 14px;
  margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
  border: none;
  background-color: #20AAE5;
  color: #156588;
  border-radius: 5px;
  width: 13%;
  height: 35px;
  margin-top: 3px;
  position: absolute;
  font-family: 'Bellota-BoldItalic', sans-serif;
  text-shadow: #73B6E2 0.5px 0.5px 0px;
}

.comment_like {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #3498db;
  padding: 0;
  height: auto;
  width: auto;
  margin: 0;
}

.like_value {
  display: inline;
  font-size: 14px;
}

.danger {
  background-color: #e74c3c;
}

.warning {
  background-color: #f0ad4e;
}

.default {
  background-color: #bdc3c7;
}

.success {
  background-color: #2ecc71;
}

.info {
  background-color: #3498db;
}

.deep_blue {
  background-color: #0043f0;
}

/* ///////////////////////////////////////////INDEX//////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////// */

.wrapper {
  margin: 0 auto;
  top: 100px;
  position: relative;
  padding: 0 10px;
  width: 1180px;
  min-width: 950px;
}

.user_details_left_right {
  /* width: 306px; */
  background-color: white;
  display: inline-table;
  min-height: 300px;
  position: absolute;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.38);
}

.index_column {
  float: right;
  width: 70%;
  z-index: -1;
  min-height: 170px;
  margin-bottom: 100px;
}

.index_column a {
  color: #38a9ff;
}

.user_link {
  margin-left: 20px;
}

.user_details_info {
  display: flex;
}

.user_details_info .data-label {
  color: #030370;
  font-family: 'Arimo-bold';
}

.user_details_info .data {
  color: #38a9ff;
  font-family: 'Calibri';
  font-weight: bold;
  padding-top: 2px;
}

.user_details_info ul {
  margin: 0px -18px 0 48px;
}

.user_details_info ul li {
  list-style: none;
  padding-top: 10px;
}

.intro {
  display: flex;
  margin-top: 18px;
  list-style: none;
}

.intro li {
  padding: 0 0 0 27px;
}

.intro-icon {
  height: 82%;
  padding-top: 7px;
  padding-left: 17px;
}

.column {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #D3D3D3;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.38);
  z-index: -1;
}

.newsfeedPostOptions {
  padding: 0px;
  text-decoration: none;
  color: #20AAE5;
  border: none;
}

.newsfeedPostOptions iframe {
  border: 0px;
  height: 17px;
  width: 120px;
}

.newsfeedPostOptions {
  padding: 0px;
  text-decoration: none;
  color: #20AAE5;
  border: none;
}

.newsfeedPostOptions iframe {
  border: 0px;
  height: 17px;
  width: 120px;
}

/* ///////////////////////////////////////////////MESSAGE.PHP////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#message-wrapper {
  margin: 0 auto;
  top: 100px;
  position: relative;
  padding: 0 10px;
  width: 1180px;
  min-width: 950px;
}

.conversations {
  background-color: white;
  display: inline-table;
  padding: 21px;
  min-height: 500px;
  position: absolute;
  top: 543px;
  width: 298px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.38);
}

.messages_column {
  float: right;
  width: 100%;
  z-index: -1;
  min-height: 170px;
  margin-bottom: 100px;
}

.messages_column a {
  color: #38a9ff;
}

#accept_button {
  width: 20%;
  height: 28px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  color: #fff;
  background-color: #2ecc71;
}

#ignore_button {
  width: 20%;
  height: 28px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  color: #fff;
  background-color: #e74c3c;
}

.delete_button {
  height: 22px;
  width: 22px;
  padding: 0;
  float: right;
  border-radius: 4px;
  right: -15px;
  position: relative;
}

.profile_main_column {
  min-width: 675px;
  float: left;
  width: 70%;
  margin-left: 8%;
  z-index: -1;
}

.profile_info_bottom {
  margin: 10px 0 0 7px;
}

#message_textarea {
  width: 72%;
  padding: 14px;
  height: 100px;
  margin-left: 93px;
  border-radius: 5px;
  border: 1px solid #e2e5ec;
  font-size: 12px;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
  box-shadow: inset 0px 0px 3px 2px rgba(42, 44, 45, 0.07);
}

.btn-message-submit {
  padding: 7px 20px;
  color: white;
  float: right;
  margin-right: 108px;
}

.message {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  color: #fff;
}

.message#blue {
  background-color: #3498db;
  border-color: #2980b9;
  float: right;
  margin-bottom: 5px;
}

.message#green {
  background-color: #2ecc71;
  border-color: #27ae60;
  float: left;
  margin-bottom: 5px;
}

.loaded_messages {
  height: 65%;
  min-height: 300px;
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.loaded_conversations {
  max-height: 416px;
  overflow-y: scroll;
}

.user_found_messages {
  padding: 25px 1px;
  border-bottom: 1px solid #ededf4;
}

.user_found_messages:hover {
  background-color: #rgb(145, 161, 218);
}

.user_found_messages img {
  height: 50px;
  margin-right: 15px;
  border-radius: 31px;
  float: left;
}

.convo-name {
  font-family: 'Arimo-bold';
  color: #030370;
}

.timestamp_smaller {
  color: #38a9ff;
  font-family: 'Calibri';
  font-style: italic;
}

.btn-new-message {
  padding: 5px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 90%;
  margin-top: 10px;
  letter-spacing: 1px;
}

.tab-content {
  margin-top: 25px;
}
